<section id="info" class="big-name">
    <div class="sticky-paper-head has-shadow ">
        <div class="content">
            <h1>{{about.f_name}} {{about.l_name}}</h1>
            <div class="short-tag">
                {{about.role}}
            </div>
        </div>
    </div>
    <div class="sticky-paper-body has-shadow " >
        <div class="content">
            <div class="row">
                <div class="col-xs-12 col-md-7">
                    <div class="le-paragraph" ng-bind-html="renderHtml(about.intro)">
                    </div>
                </div>
                <div class="col-xs-12 col-md-5">
                    <div class="tabled-info-holder">
                        <ul class="info-holder">
                            <li>
                                <div class="info-item">
                                    <i class="fa fa-envelope"></i>
                                    <span>{{contact.email}}</span>
                                </div>
                            </li>
                            <li>
                                <div class="info-item">
                                    <i class="fa fa-twitter"></i>
                                    <span>Twitter: <a href={{social.twitter}}>@{{social.twitter.split('twitter.com/')[1]}}</a></span>
                                </div>
                            </li>

                        </ul>

                        <ul class="info-holder">
                            <li>
                                <div class="info-item">
                                    <i class="fa fa-map-marker"></i>
                                    <span>Live in: {{contact.address.city}}, {{contact.address.country}},</span>
                                </div>
                            </li>
                            <li>
                                <div class="info-item">
                                    <i class="fa fa-phone"></i>
                                    <span>{{contact.phone}}</span>
                                </div>
                            </li>
                        </ul>
                        <div class="social-icons small">
                            <ul>
                                <li>
                                    <a class="fa fa-facebook" href="#"></a>
                                </li>
                                <li>
                                    <a class="fa fa-twitter" href="#"></a>
                                </li>
                                <li>
                                    <a class="fa fa-google-plus" href="#"></a>
                                </li>
                                <li>
                                    <a class="fa fa-youtube" href="#"></a>
                                </li>
                                <li>
                                    <a class="fa fa-github" href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>